@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }

    .article {
    padding-bottom: 120px;
    padding-top: 120px;
    }
    
    
    .article-name {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--title-color);
            margin-bottom: 72px;
    }
    
    .article-list {
            display: flex;
            gap: 24px;            
    }
    
    .article-item {
            border: 1px solid #e7e9fc;
            width: calc((100% - 48px) / 3);
            max-width: 360px;
    }
    
    .article-img {
            box-sizing: border-box;
            width: 360px;
            height: 300px;
            background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368);
            background-blend-mode: soft-light, normal;
            flex: none;
            order: 0;
            flex-grow: 0;
    }

    .main {
            padding-bottom: 120px;
            padding-top: 120px;
    }

 .main>.container {
     width: 1200px;
 }

        .customers>.container {
            width: 1158px;
        }
    
    
        .customers-item {
            width: calc((100% - 120px) / 6);
        }
    
        .customers-list {
            gap: 24px;
    
        }
}