
:root {
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --secondery-text-color: #FFFFFF;
    --headings-text-color: #2E2F42;
    --pressed-state-color:#404BBF;
    --primaru-brand-color: #4D5AE5;
    --main-text-color: #434455;
    --helper-text-color:#8E8F99;
    --modal-color: #FCFCFC;
    --bg-gradient: linear-gradient(
     rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)
     );
    --valid-fields:#31D0AA;
    --duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


p,
h1,
h2,
h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}


.list {
    list-style: none;
}
.link {
    text-decoration: none;

}

.container{

    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    /* outline: 1px solid red; */
}
 
.no-scroll {
    overflow: hidden;
}


/*-----------------HEADER-----------------------------------------*/

.header {
    /* max-height: 76px; */
    
    background-color: var(--secondery-text-color);
    border-bottom: 1px solid var(--accent-color);

}

.list-nav .link.current {
    color: var(--pressed-state-color);
}



/*--------------LOGO---------------------------*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaru-brand-color);
    text-decoration: none;
}

.navigation .logo {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.studio-nav {
    color: var(--headings-text-color);
} 
.studio-footer{
    color: var(--light-mode-color)
}

/* -----------MOB-MENU------------------------ */

.mob-menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: var(--secondery-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.menu-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background:  #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 16px;
    padding: 0;
}

.mob-menu > .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.mob-menu-list {
    margin-bottom: 50px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--headings-text-color);
    display: block;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: var(--pressed-state-color);
}

.mob-menu-tel {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--primaru-brand-color);
    margin-bottom: 40px;

}

.mob-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
   
}



.mob-menu-contact {
    margin-bottom: 40px;
}

.mob-menu-contact:last-child {
    margin-bottom: 48px;
}

.menu-soc-list {
    display: flex;
    gap: 40px;
}
.menu-soc-item {
    width: 40px;
    height: 40px;
}
.menu-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaru-brand-color) ;
}



.menu-soc-icon {
    fill: var(--secondery-text-color); 
}


/*---------------NAV HEADER------------------------------*/

.header > .container {
    display: flex;
    align-items: center;
}

.list-nav {
    display: none;
}

/* .navigation {
    display: flex;
    align-items: center; 
    margin-right: auto;
} */

.header-list {
    display: none; 
}

.menu-open {
    width: 32px;
    height: 22px;
    background-color: transparent;
    border:none;
    padding: 0;
    margin-left: auto;

}


/*----------------HERO---------------------------------------*/

.hero {
    background-color: var(--headings-text-color);
    padding:112px 4px 112px 4px;
    text-align: center;

    background-image:var(--bg-gradient),
     url(../images/Mob-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: var(--bg-gradient), url(../images/Mob-bg-2px.jpg);
  }
}
.hero .title {
    
    width: 311px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondery-text-color);
    

}


/*-----------------BTN--------------------------------------*/

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor:pointer;
}

.hero .btn {
    background-color: var(--primaru-brand-color);
    color: var(--secondery-text-color);
    border-radius: 4px;
    border: transparent;
    padding: 16px 32px;
    display: inline-block;
    transition: background-color var(--duration), color var(--duration), box-shadow var(--duration);
}

.hero .btn:hover, 
.hero .btn:focus {   
    background-color: var(--pressed-state-color);
    color: var(--secondery-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---------------SECTION---------------------------------------------------*/


.section {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;

}

.section .list {
    /* display: flex;
    gap: 24px; */
    display: flex;
    flex-direction: column; 
    row-gap: 72px;
       
    
    
}


.thumb {
    display: none;
    }
    
    

.section .title{

    color: var(--headings-text-color);

    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.text {
    font-weight: 500;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* min-width: 264px; */
    
}    
.section .text {    
    color: var(--main-text-color);
    
}

/*--------FEATURES--------------------------------*/


@media screen and (max-width: 1199px) {
    .features {
        display: none;
    }

}
/* .features {
    display: none;
} */




/* -------------TEAM---------------------------- */

.team {
    background-color: var(--light-mode-color);

    padding-bottom: 110px;
    padding-top: 120px;
}

.team .caption {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--headings-text-color);

    margin-bottom: 72px;
}

.team .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    /* NAVY BLUE */
    color: var(--headings-text-color);

    margin-bottom: 8px;
}


.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
} 

.team-card{
    padding: 32px 16px;
    background-color: var(--secondery-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team .after-title {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    /* SLATE */
    color: var(--main-text-color);
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex; 
    justify-content: center; 
    gap: 24px;
     
  }
  
  .team-soc-item {
      width: 40px;
      height: 40px;
  
  }
  .soc-link {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .team-card .soc-link{
  background-color: var(--primaru-brand-color);
  transition: background-color var(--duration);
  }

  .team-card .soc-link:hover,
  .team-card .soc-link:focus {
    background-color: var(--pressed-state-color);
  }

.team-soc-icon {
    fill: var(--light-mode-color);
}

/*---------------CUSTOMERRS---------------------------------------------------------*/

.customers {
    /* padding-top: 130px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--headings-text-color);


    margin-bottom: 72px;

}


.customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px; 
    /* gap: 24px; */
   
}

.customers-item {
    /* width: calc((100% - 120px) / 6);  */
    width: calc((100% - 16px) / 2);
    height: 88px; 
    
}




.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--helper-text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content:center ;
    fill: var(--helper-text-color);

    transition: border-color var(--duration), fill var(--duration);
}

.customers-link:hover {
    border-color: var(--pressed-state-color);
    fill: var(--pressed-state-color);
}




/*-------------FOOTER--------------------------------------------*/

/* .footer {
    background-color: var(--headings-text-color);

    padding-top: 96px;
    padding-bottom: 96px;

}

.footer > .container {
    display: flex;
    align-items: center;
}
 
.footer .text {
    color: var(--accent-color);

    max-width: 264px;
}

.footer .logo {
    margin-bottom: 16px;
    width: 115px;
}

.footer> .container {
    gap: 120px;
    align-items: flex-start;
}

.footer-soc-list {
    display: flex; 
    justify-content: center; 
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-soc .soc-link {
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color var(--duration);
}

.footer-soc .soc-link:hover,
.footer-soc .soc-link:focus{
    background-color: var(--valid-fields);
}

.footer-icon{
fill: var(--light-mode-color);
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-text-color);

    margin-bottom: 16px;
} */

.footer {
    background-color: var(--headings-text-color);

    padding-top: 96px;
    padding-bottom: 96px;
    /* width: 100%; */

}

.footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 71px;
}
 
.footer .text {
    color: var(--accent-color);

    max-width: 268px;
}

.footer-logo {
   justify-content: center;
    
}

.footer-logo .logo {
    justify-content: center;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex; 
    justify-content: center; 
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-soc .soc-link {
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color var(--duration);
}

.footer-soc .soc-link:hover,
.footer-soc .soc-link:focus{
    background-color: var(--valid-fields);
}

.footer-icon{
fill: var(--light-mode-color);
}

.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-text-color);
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}



/*------------FOOTER FORM----------------------------------------------*/


.footer-form-titl {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondery-text-color);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;

}

.footer-field {
    width: 100%;
}

.footer-input {

    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--secondery-text-color);
    
}

/* .footer-field-form {
   display: flex;
   gap: 24px; 
} */

.footer-field-form {
    
    display: flex;
    flex-direction: column;
    gap: 24px; 
    justify-content: center;
    align-items: center;
 }

.button-footer-form {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primaru-brand-color);
    border-radius: 4px;
    color: var(--secondery-text-color);
    font-weight: 500;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    cursor:pointer;
    border: transparent;
    transition: background-color var(--duration);
}

.footer-form-icon {
    margin-left: 16px;  
    fill: var(--secondery-text-color);
}

.button-footer-form:hover,
.button-footer-form:focus {
    background-color: var(--pressed-state-color);
    color: var(--secondery-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 



/*------------MODAL-------------------------------------------------*/

.backdrop {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.5);
    transition: opacity var(--duration), visibility var(--duration);
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 576px;
    border-radius: 4px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform var(--duration) ;
    padding: 72px 16px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0); 
}
    
.modal-icon {
    fill: #000000;
    transition: fill var(--duration);
}


.modal-close {
    
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color);
    transition: background-color var(--duration);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--pressed-state-color);
}

.modal-close:hover > .modal-icon,
.modal-close:focus > .modal-icon {
    fill: var(--secondery-text-color);
}


.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--headings-text-color);
    margin-bottom: 16px;
    
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: none;
    transition: border-color var(--duration);
}

.modal-input:focus {
    border-color: var(--primaru-brand-color);
}

.modal-input:focus + .input-icon {
    fill: var(--primaru-brand-color); 
}

.input-text {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--helper-text-color);

}

.modal-field {
    margin-bottom: 8px;
}

.modal-field:last-child {
    margin-bottom: 30px;
}

.modal-field-chek {
    margin-bottom: 24px;
}


.input-wrap {
    position: relative;
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--duration);
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px; 
    resize: none;
    outline: none;
    transition: var(--duration);
}

.modal-comment:focus {
    border-color: var(--primaru-brand-color)
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.button-form {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--primaru-brand-color);
    
    border-radius: 4px;
    border: transparent;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondery-text-color);
    cursor:pointer;
    transition: background-color var(--duration), box-shadow var(--duration);
}
.button-form:hover,
.button-form:focus{
    background-color: var(--pressed-state-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.check-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 8px; 
    fill: transparent;
    transition: background-color var(--duration);
}

.check-text {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--primaru-brand-color);
}

.check-icon {
    transition: fill var(--duration);
}

.input-check:checked + .check-text span {
    background-color: var(--pressed-state-color);
    border: 1.25px solid var(--pressed-state-color);
    fill: var(--light-mode-color);
}




/*-----------PORTFOLIO----------------------------------------------*/

.section-main {
    padding-bottom: 120px;
}

.caption {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

    .section-main {
        padding-top: 96px;
    }


/*--------------BTN-------------------------------------------------*/


.caption .btn {
    color: var(--primaru-brand-color);
    background-color: var(--light-mode-color);

    border: 1px solid var(--accent-color);
    border-radius: 4px;

    padding: 12px 24px;
    transition: background-color var(--duration), color var(--duration), box-shadow var(--duration);   
}
.caption .btn:hover,
.caption .btn:focus,
.caption .btn:active {
    background-color: var(--pressed-state-color);
    color: var(--secondery-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*----------CONTENT-------------------------------------------------*/


.content .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* NAVY BLUE */
    color: var(--headings-text-color);

    margin-bottom: 8px;
    padding-left: 16px;
}
.content .text {
    
    color: var(--main-text-color);
    padding-left: 16px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.content-item {
    width: calc((100% - 48px) / 3);
}

.content-card {
    padding-top: 32px;
    padding-bottom: 48px;
    border: 1px solid var(--accent-color);
    border-top: transparent;
}

.content .link {
    transition: box-shadow var(--duration) ;
    display: block;
}

.content .link:hover,
.content .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.content .link:hover .overlay,
.content .link:hover .overlay {
    transform: translateY(0);
}

.content-wrap {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--duration);
    

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-mode-color);
    padding: 40px 32px 164px;
    background: var(--primaru-brand-color);
}






    